/* src/index.css */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f8f8f8;
  --header-text: #333333;
}

body.dark {
  --bg-color: #1e1e1e;
  --text-color: #000000;
  --header-bg: #333333;
  --header-text: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-bg);
  color: var(--header-text);
}



@tailwind base;
@tailwind components;
@tailwind utilities;